@media (max-width: 1200px) {

	.b05-graf {
		width: 100%;
		height: 100%;
	}

	.bloco-06 {
		text-align: center;
	}

	.bloco-10 .b10-pt1 {
		text-align: center;
	}
	.bloco-10 .b10-pt2 {
		text-align: center;
		margin-top: 1.5em;
	}

	.bloco-14 input {
		width: 100%;
	}

}

@media only screen and (max-width: 992px) {

	.bloco-14-desktop {
		display: none !important;
	}

	.bloco-14-mobile {
		display: block !important;
	}

	.header-kid-pt1 {
		width: 100% !important;
		text-align: center !important;
		margin-bottom: 2em;
		margin-top: 2em;
	}

	.logo, h4, .logo-msg1, .logo-button {
		text-align: center !important;
		width: 100% !important;
		max-width: 100% !important;
	}

	.header-kid-pt2, .logo-button {
		display: none;
	}

	.logo-button2 {
		display: block;
		text-align: center;
		margin-top: 3em;;
		margin-bottom: 3em;
	}
}

@media (max-width: 992px) {

	.bloco-05 {
		text-align: center;
	}

	.b05-graf {
		width: 100%;
		height: 100%;
	}

	.bloco-07 .col-sm-6, .bloco-07 .col-xs-12 {
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.bloco-11 .texto-1 {
		margin-top: 1em;
	}

	.bloco-14 .frete-mg {
		margin-top: 1em;
	}

	.bloco-14 .text-1 {
		text-align: center;
		margin-bottom: 2em;
	}

	.bloco-14 .text-2 {
		text-align: center;
		margin-bottom: 2em;
	}

	.bloco-10-pt2 .antes {
		margin-top: 2.5em;
	}

	.bloco-16 .dir, .bloco-16 .esc {
		text-align: center;
	}

	.bloco-16 .dir {
		margin-top: 3em;
	}

		.bloco-14 .kit, .bloco-14 input {
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 767px) {

	header {
		height: auto;
	}

	.bloco-one {
		background-repeat: no-repeat;
		background-position: top center;
	}

	.container {
		padding: 0 !important;
	}

	.bloco-one .container {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.logo {
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
	}

	.logo p {
		font-size: 0.8em;
	}

	.logo-garrafa img {
		width: 100px;
	}

	.logo-button {
		text-align: left;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.logo-button img {
		max-width: 250px;
	}

	.bloco-three h4 {
		text-align: center;
	}

	.bloco-06 h3 {
		font-size: 1.2em;
	}
	.bloco-06 p {
		font-size: 1.5em;
	}

	.bloco-07 h3 {
		font-size: 2em;
	}

	.bloco-07 p {
		font-size: 1.5em;
	}

	.bloco-09 img {
		width: auto;
		height: auto;
		margin-bottom: 1em;
	}

	.bloco-09 .bg09 {
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
	}

	.bloco-09 .b09-titulo {
		font-size: 1.4em;
	}

	.bloco-09 p {
		font-size: 1.2em;
	}

	.bloco-10 .b10-pt1 img {
		width: 100%;
		height: 100%;
	}

	.bloco-10 .b10-pt2 img {
		width: 80%;
		height: 80%;
	}

	.bloco-12 .b12-mg {
		margin-top: 2.3em;
	}

	.bloco-15 img {
		width: auto;
		height: auto;
		margin-bottom: 1em;
	}

	.bloco-15 .bg15 {
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
	}

	.bloco-15 .b15-titulo {
		font-size: 1.4em;
	}

	.bloco-15 p {
		font-size: 1.2em;
	}

	.kid-bengala-segredo {
		font-size: 2em;
		text-transform: uppercase;
	}


}

@media screen and (min-width: 767px) {
	.bloco-ebook {
		margin-top: 50px;
	}
	.ebook-img {
		display: inline;
		width: 20% !important;
		position: relative;
		top: -30px;

	}
	.ebook-bloco-1 {
		float: left;
		width:  35% !important;
		display: inline;
		margin-top: 20px;
		text-align: left;
	}
	.ebook-bloco-2 {
		position: relative;
		top: -40px;
		float: right;
		width: 45% !important;
	}
	.bloco-ebook .container {
		margin-bottom: -30px;
	}
  }

@media (max-width: 415px) {
	.bloco-three img {
		width: 100%;
		height: 100%;
	}

	.bloco-05 img {
		width: 100%;
		height: 100%;
	}

	.bloco-12 img {
		width: 100%;
	}

	.logo-button img {
		width: 100%;
		height: 100%;
	}

	.bloco-14 .kit, .bloco-14 input {
		width: 100%;
		height: 100%;
	}
}