html[lang=ar] .wp-block *, html[lang=ary] .wp-block *, html[lang=azb] .wp-block *, html[lang=ckb] .wp-block *, html[lang=fa-IR] .wp-block *, html[lang=haz] .wp-block *, html[lang=ps] .wp-block * {font-family: Tahoma,Arial,sans-serif !important;}
html[lang=be] .wp-block *, html[lang=bg-BG] .wp-block *, html[lang=kk] .wp-block *, html[lang=mk-MK] .wp-block *, html[lang=mn] .wp-block *, html[lang=ru-RU] .wp-block *, html[lang=sah] .wp-block *, html[lang=sr-RS] .wp-block *, html[lang=tt-RU] .wp-block *, html[lang=uk] .wp-block * {font-family: helvetica neue,Helvetica,segoe ui,Arial,sans-serif !important;}
html[lang=zh-HK] .wp-block * {font-family: -apple-system,BlinkMacSystemFont,pingfang hk,helvetica neue,microsoft yahei new,STHeiti Light,sans-serif !important;}
html[lang=zh-TW] .wp-block * {font-family: -apple-system,BlinkMacSystemFont,pingfang tc,helvetica neue,microsoft yahei new,STHeiti Light,sans-serif !important;}
html[lang=zh-CN] .wp-block * {font-family: -apple-system,BlinkMacSystemFont,pingfang sc,helvetica neue,microsoft yahei new,STHeiti Light,sans-serif !important;}
html[lang=bn-BD] .wp-block *, html[lang=hi-IN] .wp-block *, html[lang=mr] .wp-block *, html[lang=ne-NP] .wp-block * {font-family: Arial,sans-serif !important;}
html[lang=el] .wp-block * {font-family: helvetica neue,Helvetica,Arial,sans-serif !important;}
html[lang=gu] .wp-block * {font-family: Arial,sans-serif !important;}
html[lang=he-IL] .wp-block * {font-family: arial hebrew,Arial,sans-serif !important;}
html[lang=ja] .wp-block * {font-family: -apple-system,BlinkMacSystemFont,hiragino sans,Meiryo,helvetica neue,sans-serif !important;}
html[lang=ko-KR] .wp-block * {font-family: apple sd gothic neo,malgun gothic,nanum gothic,Dotum,sans-serif !important;}
html[lang=th] .wp-block * {font-family: sukhumvit set,helvetica neue,helvetica,arial,sans-serif !important;}
html[lang=vi] .wp-block * {font-family: libre franklin,sans-serif !important;}