<head>

<script type="text/javascript">
var back_redirect_back_link = "https://drenefort.com.br/dnf/stc/original";
history.pushState({},"",location.href);
history.pushState({},"",location.href);
window.onpopstate = function(event){
if (JSON.stringify(event.state)=='{}') {
setTimeout(function () {
location.href = back_redirect_back_link;
},1);
}
};
</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5CZGF8Z');</script>
<!-- End Google Tag Manager -->
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CZGF8Z"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


    <div style="display:none;"></div>

		<iframe src="https://drenefort.com.br/dnf/adv/v01/algas" height="100%" width="100%" noresize="noresize"></iframe>

        <script type="text/javascript">
var value = window.location.search.substring(1);
var theInstances = document.getElementsByTagName("a");
for (var i=0;i<theInstances.length;i++) {
var originalValue = theInstances[i];
var url = originalValue;
if( value != "" )
url = originalValue + "?" + value;
theInstances[i].setAttribute("href",url);
}
</script>



</body>
