<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>webelitex</title>
	<atom:link href="http://OFFLINEZIP.wpshofeed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>Just another WordPress site</description>
	<lastbuilddate>Tue, 19 Mar 2019 03:03:57 +0000</lastbuilddate>
	<language>en-US</language>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=5.0.4</generator>
	<item>
		<title>Hello world!</title>
		<link>http://OFFLINEZIP.wpshohello-world/</link>
		<comments>http://OFFLINEZIP.wpshohello-world/#comments</comments>
		<pubdate>Wed, 30 Jan 2019 12:49:37 +0000</pubdate>
		<dc:creator><![CDATA[webelitex]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid ispermalink="false">http://OFFLINEZIP.wpsho?p=1</guid>
		<description><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
<p>The post <a rel="nofollow" href="http://OFFLINEZIP.wpshohello-world/">Hello world!</a> appeared first on <a rel="nofollow" href="https://OFFLINEZIP.wpsho">webelitex</a>.</p>
]]></description>
				<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
<p>The post <a rel="nofollow" href="http://OFFLINEZIP.wpshohello-world/">Hello world!</a> appeared first on <a rel="nofollow" href="https://OFFLINEZIP.wpsho">webelitex</a>.</p>
]]></content:encoded>
			<wfw:commentrss>http://OFFLINEZIP.wpshohello-world/feed/</wfw:commentrss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
