
/*
* Geral
*/

.img-fluid {
	max-width: 100%;
	height: auto;
}

* {
	font-family: Montserrat;
}

a, .chat-abrir, .chat-fechar, .chat-link {
    cursor: pointer;
}

/*
* Header
*/

header {
    background-color: #20292e;
}
.bloco-one {
    background-image: url('../images/header_bg3.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    color: #fff;
    min-height: auto;
    background-color: #20292e;
}
.bloco-one {
    text-align: center;
    width: 100%;
    font-family: Montserrat;
}

.logo {
	margin-top: 20px;
	max-width: 400px;
	text-align: left;
	margin-bottom: 3em;
}

.logo img {
	max-width: 70%;
}

.logo p {
	color: #bac1c6;
	font-size: 1em;
	margin-top: 3px;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 1);
}

.logo-msg1 {
	text-transform: uppercase;
	color: #e95201;
	font-weight: 700;
	font-size: 1.7em;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 1);
	font-family: Montserrat;
	margin-bottom: 30px;
	text-align: left;
}

.logo-msg2 h4 {
	text-align: left;
	text-transform: uppercase;
	font-weight: 700;
}

.logo-msg2 ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
    text-align: left;
}
.logo-msg2 li:before {
    content: "";
    border-color: transparent #e95201;
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.30em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
}

.logo-button {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo-button2 {
	display: none;
}

.decor1 {
	color: #ffffff;
	text-decoration: underline;
}

.header-kid-1 {
	height: 780px;
}

.kid-bengala-header {
    position: relative;
    height: 780px;
}

.kid-bengala-header img {
    position: absolute;
    left: 0;
	bottom: 0;
	width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.kid-bengala-segredo {
	text-align: center;
	color: #fff;
	font-size: 3em;
	text-transform: uppercase;
	line-height: 1em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

.kid-bengala-segredo-pt2 {
	text-align: center;
	color: #fff;
	font-size: 1.8em;
	text-transform: uppercase;
	line-height: 1em;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

.kid-bengala-segredo-pt2 p {
	margin-bottom: 1em;
}

.kid-bengala-segredo-pt2 img {
	width: 187px !important;
	height: 93px !important;
}

/*
* Bloco Two
*/


.bloco-two {
	padding-bottom: 2em;
	padding-top: 2em;
}

.bloco-two p {
	color: #20292e;
	font-family: Montserrat;
	font-size: 1em;
	font-weight: normal;
	padding-top: 10px;
}

.bloco-two {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,194,197,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(186,194,197,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,194,197,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,194,197,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,194,197,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(186,194,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bac2c5', GradientType=0 );
}


/*
* Chat
*/


#chat {
    width: 323px;
	height: 160px;
    transition: 1s;
    position: fixed;
    bottom: 0;
    right: 1.5em;
    z-index: 9989;
}
.chat-fechar {
	position: relative;
	width: 22px;
	height: 20px;
	bottom: 134px;
	left: 249px;
}
.chat-abrir {
	position: fixed;
	background: url("../images/chat_hide.png") no-repeat;
	width: 22px;
	height: 20px;
	bottom: 0;
	right: 109px;
	z-index: 9989;
	display: none;
}
.chat-link {
	position: relative;
	width: 340px;
	height: 114px;
	bottom: 134px;
	left: 0;
}
.chat-img-mobile img {
	opacity: 1.0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
.chat-img-mobile img:hover {
	opacity: 0.8;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}


/*
* Bloco Three
*/

.bloco-three {
    background-color: #20292e;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

.bloco-three h4 {
	color: #e95201;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 1);
	line-height: 1.5em;
	margin-bottom: 20px;
}

.bloco-three .three-1 {
	color: #ffffff;
}

.bloco-three .three-2 {
	color: #ffffff;
}

.bloco-three .three-2 h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 1);
}

.bloco-three .three-2 p {
	font-size: 0.8em;
	font-weight: bold;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 1);
}

.bloco-three .three-2 span {
	color: #afb8be;
	font-size: 1em;
	line-height: 1.5em;
}

.bloco-three .three-3 {
	color: #ffffff;
}

.bloco-three .three-3 h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 1);
}

.bloco-three .three-3 span {
	color: #afb8be;
	font-size: 1em;
	line-height: 1.5em;
}


/*
* Bloco 04
*/

.bloco-04 {
	background: linear-gradient(to left, #d8e0e4 50%, #c7cfd3 50%);
}

.bloco-04 .part1, .bloco-04 .part2 {
	margin-top: 3em;
	margin-bottom: 3em;
}

/*
* Bloco 05
*/

.bloco-05 {
	margin-top: 1.5em;
}

.bloco-05 h3 {
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
	margin-bottom: 1em;
	color: #20292e;
}

.bloco-05 p {
	line-height: 1.8em;
	color: #20292e;
	font-size: 1.2em;
	font-weight: lighter;
}

.bloco-05 .btn-adquira {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

/*
* Bloco 06
*/

.bloco-06 {
	background: #20292e;
}

.bloco-06 .antes {
	margin-top: 3em;
	margin-bottom: 3em;
}

.bloco-06 .depois {
	margin-bottom: 3em;
	margin-top: 3em;
}

.bloco-06 h3 {
	color: #afb8be;
	font-size: 1em;
	margin-left: 18px;
}

.bloco-06 p {
	margin-left: 18px;
	color: #ffffff;
	font-size: 1.2em;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
}


/*
* Bloco 07
*/

.bloco-07 {
	background: #f77e01;
}

.bloco-07 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-07 h3 {
	color: #20292e;
	font-size: 1.5em;
	font-weight: bold;
}

.bloco-07 p {
	color: #ffffff;
	font-size: 1.2em;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
}


/*
* Bloco 09
*/

.bloco-09 {
	background: #ffffff;
}

.bloco-09 img {
	width: 100%;
	height: 100%;
}

.bloco-09 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-09 .bg09 {
	min-height: 13.5em;
}

.bloco-09 .b09-titulo {
	color: #e95201;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.bloco-09 p {
	font-size: 1em;
	color: #1b2327;
}

.bloco-09 h4 {
	font-family: Montserrat;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 2.3em;
	font-weight: bold;
	margin-bottom: 1.5em;
	text-align: center;
	color: #bf3b00;
}

/*
* Bloco 10
*/

.bloco-10 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
	line-height: 2.4em;
}

.bloco-10 .part1 {
	color: #20292e;
	font-size: 1.6em;
}

.bloco-10 .part1 span {
	font-weight: bold;
}

.bloco-10 .part2 {
	font-size: 2em;
	color: #e95201;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
	margin-bottom: 1.5em;
}

.bloco-10 .b10-pt2 .pt2 {
	margin-top: 2em;
}

/*
* Bloco 10 part2
*/

.bloco-10-pt2 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-10-pt2 {
	background: #7e8a90;
}

.bloco-10-pt2 .texto1 {
	color: #ffffff;
	font-size: 2em;
	font-weight: bold;
	margin-top: 1em;
}

.bloco-10-pt2 .texto1-block {
	background: #e95201;
	padding: 0.3em;
}

.bloco-10-pt2 .texto2 {
	color: #20292e;
	font-size: 1.35em;
	margin-top: 1em;
}

.bloco-10-pt2 .antes img {
	width: 100%;
	height: 100%;
}


/*
* Bloco 11
*/

.bloco-11 {
	background: #c9cfd2;
}

.bloco-11 img {
	width: 100%;
	height: 100%;
}

.bloco-11 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-11 h4 {
	font-family: Montserrat;
	text-decoration: underline;
	font-size: 2.3em;
	font-weight: bold;
	margin-bottom: 0.6em;
}

.bloco-11 .bloco-bg {
	background: #20292e !important;
	padding-top: 1em !important;
	padding-bottom: 1em !important;
	margin-top: 1.2em;
}

.bloco-11 .texto-1 {
	color: #e95201;
	margin-bottom: 0.3em;
	font-size: 1.2em;
}

.bloco-11 .texto-2 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 0.3em;
	font-size: 1.2em;
}

.bloco-11 .texto-3 {
	color: #acb7bc;
	font-size: 1.1em;
}

/*
* Bloco 12
*/

.bloco-12 {
	background: #f77e01;
}

.bloco-12 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-12 .texto-1 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin-top: 1em;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
	color: #ffffff;
}

.bloco-12 .texto-2 {
	font-size: 1.5em;
	line-height: 1.2em;
	margin-top: 1em;
	color: #20292e;
}

.bloco-12 .texto-2 span {
	font-size: 1.4em;
	text-decoration: underline;
	color: #ffffff;
	font-weight: bold;
}

/*
* Bloco 13
*/

.bloco-13 .container {
	padding-top: 3em !important;
}

.bloco-13 {
	background: #20292e;
}

.bloco-13 h4 {
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
	font-size: 2em;
	margin-bottom: 1em;
}

.bloco-13 p {
	color: #afb8be;
	font-size: 1.4em;
	margin-bottom: 1em;
}

/*
* Bloco 14
*/

.bloco-14 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-14 h4 {
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
	font-size: 2em;
	margin-bottom: 1em;
}

.bloco-14 .kit img {
	width: 100%;
	height: 100%;
}

.bloco-14 .frete img {
	width: 100%;
	height: 100%;
}

.bloco-14 .bl14-mg {
	margin-top: 3em;
}

.bloco-14 .texto-1 {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #1b2327;
	font-weight: bold;
}

.bloco-14 .text14-mg {
	margin-top: 2.5em;
}

.bloco-14 input {
	width: 100%;
}

/*
* Bloco Frete
*/

.bloco-frete .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-frete h4 {
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(2, 2, 2, 1);
	font-size: 2em;
	margin-bottom: 1em;
}

.bloco-frete .kit img {
	width: 100%;
	height: 100%;
}

.bloco-frete .frete img {
	width: 100%;
	height: 100%;
}

.bloco-frete .bl14-mg {
	margin-top: 3em;
}

.bloco-frete .texto-1 {
	font-size: 1.3em;
	text-transform: uppercase;
	color: #1b2327;
	font-weight: bold;
}

.bloco-frete .text14-mg {
	margin-top: 2.5em;
}

.bloco-frete input {
	width: 100%;
}


/*
* Bloco 15
*/

.bloco-15 {
	background: #ffffff;
}

.bloco-15 img {
	width: 100%;
	height: 100%;
}

.bloco-15 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-15 .bg15 {
	min-height: 14.5em;
}

.bloco-15 .b15-titulo {
	color: #e95201;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.bloco-15 p {
	font-size: 1em;
	color: #1b2327;
}

.bloco-15 h3 {
	font-family: Montserrat;
	text-transform: uppercase;
	font-size: 2.3em;
	font-weight: bold;
	text-align: center;
	color: #bf3b00;
}

.bloco-15 h4 {
	font-family: Montserrat;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 1.5em;
	text-align: center;
}

/*
* Bloco 16
*/

.bloco-16 .container {
	padding-top: 3em !important;
	padding-bottom: 3em !important;
}

.bloco-16 {
	background: #20292e;
}

.bloco-16 h3 {
	font-size: 1.8em;
	color: #afb8be;
	margin-bottom: 1em;
}

.bloco-16 p {
	font-size: 1.2em;
	color: #ffffff;
}

.bloco-16 .dir {
	text-align: right;
}


/*
* Bloco E-Book
*/

.bloco-ebook {
	border-top: 2px dashed silver;
	border-bottom: 2px dashed silver;
	background: #d8e0e3;
	margin-top: 70px;
	margin-bottom: -20px;
}

.ebook-img {
	position: relative;
	top: -70px;
	height: 100% !important;
	width: 100% !important;
}

.ebook-bloco-1 {
	margin-top: -70px;
}

.ebook-bloco-1 h6 {
	color: #e95201;
	font-size: 18px;
	font-weight: bold;
}

.ebook-bloco-1 p {
	color: #20292e;
	line-height: 24px;
}

.ebook-bloco-1 span {
	color: #28ba13;
	font-weight: bold;
	font-size: 16px;
}

.ebook-bloco-2 {
	margin-top: 20px;
}

.ebook-bloco-2 ul li {
	text-align: left;
	margin-bottom: 15px;
	list-style-image: url('../images/site-ebook-seta.png');
	font-size: 13px;
	line-height: 20px;
}

.ebook-bloco-2 h5 {
	background: #171f22;
	padding: 15px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 16px;
}




