<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for webelitex</title>
	<atom:link href="http://OFFLINEZIP.wpshocomments/feed/" rel="self" type="application/rss+xml" />
	<link>https://OFFLINEZIP.wpsho</link>
	<description>Just another WordPress site</description>
	<lastbuilddate>Wed, 30 Jan 2019 12:49:37 +0000</lastbuilddate>
	<sy:updateperiod>hourly</sy:updateperiod>
	<sy:updatefrequency>1</sy:updatefrequency>
	<generator>https://wordpress.org/?v=5.0.4</generator>
	<item>
		<title>Comment on Hello world! by A WordPress Commenter</title>
		<link>http://OFFLINEZIP.wpshohello-world/#comment-1</link>
		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubdate>Wed, 30 Jan 2019 12:49:37 +0000</pubdate>
		<guid ispermalink="false">http://OFFLINEZIP.wpsho?p=1#comment-1</guid>
		<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://gravatar.com&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
		<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://gravatar.com">Gravatar</a>.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
