@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Anton');

html,
body {
	background: #0e0e0e;
	height: 100%;
	font-size: 100%;
	color: #fff;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0 1px rgba(0,0,0,.01);
}

body.pacotes {
	background: #ededed;
	color: #000;
}

html *::selection,
body *::selection {
	background: transparent !important;
}

* {
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	outline: none;
	resize: none;
	margin: 0px;
}

.container {
	position: relative;
	margin: auto;
}

.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.container:after,
.clearfix:after {
	clear: both;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.img-center {
	margin: auto;
}

/* content */

#exit-popup {
	background: rgba(254, 126, 36, .95);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s, z-index .3s;
	-moz-transition: opacity .3s, visibility .3s, z-index .3s;
}

#exit-popup.active {
	opacity: 1;
	visibility: visible;
	z-index: 99;
	transition: opacity .3s, visibility .3s, z-index .3s;
	-moz-transition: opacity .3s, visibility .3s, z-index .3s;
}

#exit-popup .div-tb {
	width: 100%;
	height: 100%;
	display: table;
}

#exit-popup .content {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0 3px 0 rgba(0,0,0,.15);
}

#exit-popup .title {
	font-family: 'Anton';
	font-size: 38px;
	color: #ffde00;
	line-height: 1.3;
	text-transform: uppercase;
	margin: 0 0 20px;
}

#exit-popup .discount {
	margin: 0 0 20px;
}

#exit-popup .discount img {
	margin: auto;
}

#exit-popup .subtitle {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
	color: #fff;
	margin: 0 0 20px;
}

#exit-popup .btn-more {
	background-image: linear-gradient(to bottom, #018f3e, #055a29, #018f3e);
	display: inline-block;
	padding: 25px 50px;
	font-family: 'Anton';
	font-size: 30px;
	color: #fff;
	line-height: 1;
	text-align: center;
	text-shadow: 0 3px 0 #018f3e;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #fff;
	margin: 0 0 20px;
	box-shadow: inset 0 -5px 0 0 rgba(0,0,0,.15), 0 6px 0 0 rgba(0,0,0,.075);
	border-radius: 15px;
	transition: text-shadow .3s, box-shadow .3s, transform .3s;
	-moz-transition: text-shadow .3s, box-shadow .3s, transform .3s;
}

#exit-popup .btn-more:hover {
	text-shadow: inherit;
	box-shadow: inherit;
	transform: translateY(4px);
	-moz-transform: translateY(4px);
	transition: text-shadow .3s, box-shadow .3s, transform .3s;
	-moz-transition: text-shadow .3s, box-shadow .3s, transform .3s;
}

#exit-popup .obs {
	font-size: 16px;
	color: #fff;
}

/* pacotes */

body.pacotes .container,
body.pacotes.desconto .container {
	width: 1130px;
}

#header {
	background: #2b2b2b;
}

#header .container {
	padding: 20px 0 20px 350px;
}

body.pacotes.desconto #header .container {
	padding: 20px 0;
}

#header .stock {
	background: #ee5800;
	width: 300px;
	padding: 20px;
	border-bottom: 2px solid #ff5e00;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
	border-radius: 0 0 4px 4px;
}

#header .stock .title {
	position: relative;
	font-family: 'Anton';
	font-size: 21.5px;
	color: #ffde00;
	line-height: 1.2;
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
	text-transform: uppercase;
}

#header .stock .title:after {
	content: "";
	background: url(../images/arrow_1.png);
	width: 22px;
	height: 44px;
	position: absolute;
	top: calc(50% - 22px);
	left: 162px;
}

#header .stock .title b {
	font-family: 'Anton';
	font-size: 25px;
	font-weight: normal;
	color: #fff;
}

#header .stock .count {
	background: #ffde00;
	width: 65px;
	height: 65px;
	line-height: 65px;
	font-family: 'Anton';
	font-size: 50px;
	color: #2b2b2b;
	text-align: center;
	position: absolute;
	top: calc(50% - 32.5px);
	right: 20px;
	box-shadow: 0 3px 0 0 rgba(0,0,0,.2);
	border-radius: 4px;
}

#header p {
	font-size: 12px;
	color: #fff;
	line-height: 1.6;
}

body.pacotes.desconto #header p {
	padding: 0 15%;
	text-align: center;
}

#header p u {
	font-weight: 700;
	color: #ffc300;
}

#discount {
	background: #fe6b1e;
}

#discount .container {
	padding: 12px 0;
}

#discount .col-left {
	float: left;
}

#discount .title {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Anton';
	font-size: 27px;
	color: #fff;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,.2);
	text-transform: uppercase;
}

#discount .col-left .title span {
	background: #2b2b2b;
	display: inline-block;
	vertical-align: middle;
	padding: 6px 8px 4px;
	font-family: 'Anton';
	font-size: 32px;
	color: #ffde00;
	margin-left: 5px;
}

#discount .col-right {
	float: right;
	text-align: right;
}

#discount .col-right .counter {
	height: 42px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

#discount .col-right .counter .displaySection {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: center;
	padding: 0 10px;
	margin-top: -20px;
}

#discount .col-right .counter .displaySection + .displaySection:before {
	content: ":";
	font-family: 'Anton';
	font-size: 45px;
	color: #2b2b2b;
	line-height: 1;
	position: absolute;
	left: -5px;
}

#discount .col-right .counter .displaySection .numberDisplay {
	background: #ffde00;
	width: 53px;
	height: 53px;
	line-height: 53px;
	display: block;
	font-family: 'Anton';
	font-size: 40px;
	color: #2b2b2b;
	text-transform: uppercase;
	box-shadow: 0 3px 0 0 rgba(0,0,0,.2);
	border-radius: 4px;
}

#discount .col-right .counter .displaySection .periodDisplay {
	font-size: 0.6em;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

#packs {
	border-top: 10px solid #d7d7d7;
	background: #ededed;
}

#packs .container {
	padding: 50px 0;
}

#packs .row {
	display: flex;
	justify-content: center;
	margin: 0 -10px;
}

#packs .row .col {
	flex-basis: 33.3333333%;
	padding: 25px 10px 0;
	flex-grow: 1;
}

#packs .row .item {
	background: #fff;
	border: 2px solid #c8c8c8;
	box-shadow: 0 4px 0 0 rgba(0,0,0,.075);
	border-radius: 8px;
}

#packs .row .col.pack2 .item {
	border-color: #32c51f;
}

#packs .row .col.pack3 .item {
	border-color: #b67d31;
}

#packs .row .item a {
	display: block;
	padding: 0 0 25px;
	color: #2b2b2b;
	text-align: center;
	text-decoration: none;
}

#packs .row .item .title {
	background-image: linear-gradient(to bottom, #9e9e9e, #696969);
	position: relative;
	padding: 15px 0;
	font-size: 1.3em;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	margin: -25px 25px 0;
	box-shadow: 0 4px 0 0 rgba(0,0,0,.1);
	border-radius: 4px;
	z-index: 1;
}


#packs .row .col.pack2 .item .title {
	background-image: linear-gradient(to bottom, #2abe14, #148212);
}

#packs .row .col.pack3 .item .title {
	background-image: linear-gradient(to bottom, #b57c31, #815413);
}

#packs .row .item .subtitle {
	background: #c8c8c8;
	padding: 36px 0 12px;
	font-size: 17px;
	font-weight: 700;
	margin: -25px 0 0;
}

#packs .row .col.pack1 .item .subtitle {
	color: #fff;
}

#packs .row .col.pack2 .item .subtitle {
	background: #32c51f;
	font-size: 24px;
	color: #fff;
}

#packs .row .col.pack3 .item .subtitle {
	background: #b67d31;
	color: #fff;
}

#packs .row .item .image {
	position: relative;
	margin: 20px 0 5px;
}

#packs .row .item .from {
	font-size: 25px;
	color: #8e8e8e;
	margin: 0 0 10px;
}

#packs .row .item .from span {
	position: relative;
	font-weight: 700;
}

#packs .row .item .from span:before,
#packs .row .item .from span:after {
	content: "";
	background: #f70000;
	width: 100%;
	height: 2px;
	position: absolute;
	top: calc(50% - 1px);
	left: 0;
}

#packs .row .item .from span:before {
	transform: rotate(10deg);
	-moz-transform: rotate(10deg);
}

#packs .row .item .from span:after {
	transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

#packs .row .item .to {
	display: inline-block;
	font-size: 45px;
	font-weight: 700;
	line-height: .9;
	text-align: left;
	margin: 0 0 15px;
	color: #e95201;
}

#packs .row .item .to span {
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
}

#packs .row .item .to small {
	font-size: 23px;
}

#packs .row .item .to sub {
	vertical-align: baseline;
	font-size: 31px;
}

#packs .row .item .to sup {
	font-size: 28px;
	vertical-align: top;
}

#packs .row .item .more {
	background: #777777;
	padding: 16px 0;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #898989;
	margin: 0 35px;
	border-radius: 4px;
	transition: background .3s, color .3s, border-color .3s;
	-moz-transition: background .3s, color .3s, border-color .3s;
}

#packs .row .col.pack2 .item .more {
	background: #199013;
	color: #fff;
	border-color: #199013;
}

#packs .row .col.pack3 .item .more {
	border-color: #93621d;
	background: #93621d;
	color: #fff;
}

#packs .row .item:hover .more {
	background: #2b2b2b;
	color: #fff;
	border-color: #2b2b2b;
	transition: background .3s, color .3s, border-color .3s;
	-moz-transition: background .3s, color .3s, border-color .3s;
}

#packs .row .col.pack2 .item:hover .more {
	background: #32c51f;
	color: #2b2b2b;
	border-color: #32c51f;
}

#packs .row .col.pack3 .item:hover .more {
	border-color: #2b2b2b;
}

#packs .row .item .obs {
	font-size: 13px;
	font-weight: 700;
	color: #5d5d5d;
	margin: 15px 35px 0;
}

#stamps {
	background: #d7d7d7;
}

#stamps .container {
	padding: 30px 0;
}

#stamps ul {
	list-style: none;
	text-align: center;
}

#stamps ul li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	color: #5f5f5f;
	text-align: left;
	margin: 0 30px;
}

#stamps ul li img,
#stamps ul li p {
	display: inline-block;
	vertical-align: middle;
}

#stamps ul li img {
	margin-right: 10px;
}

#stamps ul li p b {
	display: block;
	font-size: 20px;
}

#payment-safe {
	background: #fff;
}

#payment-safe .container {
	padding: 40px 0;
}

#payment-safe .col-left {
	float: left;
}

#payment-safe .col-right {
	float: right;
}

#payment-safe .item .title {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	color: #e75600;
	margin-right: 15px;
}

#payment-safe .item .title b {
	display: block;
	font-size: 18px;
	line-height: 1;
	text-transform: uppercase;
}

#payment-safe .item img {
	display: inline-block;
	vertical-align: middle;
}

#footer {
	background: #2b2b2b;
	color: #fff;
}

#footer .container {
	padding: 45px 0;
}

#footer .col-left {
	float: left;
	font-size: 10px;
	color: #bbb;
	line-height: 1.8;
}

body.pacotes.desconto #footer .col-left {
	float: inherit;
	text-align: center;
}

#footer .col-left strong {
	font-size: 16px;
	color: #fff;
	line-height: 1.4;
}

#footer .col-left span {
	font-size: 13px;
}

#footer .col-left a {
	color: #bbb;
	text-decoration: none;
	margin: 0 5px;
}

#footer .col-left a:hover {
	text-decoration: underline;
}

#footer .col-right {
	float: right;
	text-align: right;
}

#footer .col-right a {
	display: block;
	font-size: 17px;
	font-weight: 700;
}

#footer .col-right a.email {
	color: #fff;
	text-decoration: none;
	margin: 0 0 10px;
}

#footer .col-right a.email:before {
	content: "";
	background: url(../images/ico_email.png);
	width: 19px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#footer .col-right a.whatsapp {
	background: #34b631;
	padding: 8px 12px;
	color: #2b2b2b;
	text-decoration: none;
	border-radius: 4px;
}

#footer .col-right a.whatsapp:before {
	content: "";
	background: url(../images/ico_whatsapp.png);
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

/* media queries */

/* desktops */
@media (max-width: 1199px) {

	body.pacotes .container,
	body.pacotes.desconto .container {
		width: 970px;
	}

	body.pacotes.desconto #header p {
		padding: 0 10%;
	}

	#packs .row .col.pack2 .item .subtitle {
		font-size: 21px;
	}

	#stamps ul li {
		margin: 0 20px;
	}

}

/* tablets */
@media (max-width: 991px) {

	body.pacotes .container,
	body.pacotes.desconto .container {
		width: 750px;
	}

	body.pacotes.desconto #header {
		display: none;
	}

	body.pacotes #header .container {
		padding: 40px 0;
	}

	body.pacotes #header p {
		display: none;
	}

	#header .stock {
		left: calc(50% - 150px);
	}

	#discount .col-left,
	#discount .col-right {
		width: 50%;
	}

	#discount .col-right {
		padding-left: 8%;
	}

	#discount .title {
		line-height: 1.2;
	}

	#discount .col-right .title {
		width: 50%;
		text-align: left;
	}

	#discount .col-right .counter {
		height: auto;
		margin: 5px 0;
	}

	#discount .col-right .counter .displaySection {
		margin: 0;
	}

	#packs .row {
		margin: 0 -5px;
	}

	#packs .row .col {
		padding: 25px 5px 0;
	}

	#packs .row .item .title {
		padding: 18.5px 0;
		font-size: 13px;
		margin: -25px 10px 0;
	}

	#packs .row .item .image img {
		height: 100px;
		width: auto;
	}

	#packs .row .item .subtitle {
		font-size: 16px !important;
	}

	#packs .row .item .from {
		font-size: 20px;
	}

	#packs .row .item .to {
		font-size: 35px;
	}

	#packs .row .item .to span {
		font-size: 11px;
	}

	#packs .row .item .to span {
		font-size: 15px;
	}

	#packs .row .item .to small {
		font-size: 17px;
	}

	#packs .row .item .to sub {
		font-size: 23px;
	}

	#packs .row .item .to sup {
		font-size: 21px;
	}

	#packs .row .item .more {
		font-size: 16px;
		margin: 0 20px;
	}

	#packs .row .item .obs {
		font-size: 11px;
		margin: 15px 15px 0;
	}

	#stamps ul li {
		font-size: 10px;
	}

	#stamps ul li img {
		height: 38px;
		width: auto;
	}

	#stamps ul li p b {
		font-size: 14px;
	}

	#payment-safe .item .title {
		display: block;
		margin: 0 0 10px;
	}

	#footer .col-left,
	#footer .col-right {
		float: inherit;
		text-align: center;
	}

	#footer .col-right {
		margin: 0 0 30px;
	}

	#footer .col-right .whatsapp {
		display: inline-block;
	}

}

/* smartphones */
@media (max-width: 767px) {

	#exit-popup .content {
		padding: 15px;
	}

	#exit-popup .title {
		font-size: 22px;
		margin: 0 0 15px;
	}

	#exit-popup .discount {
		margin: 0 0 15px;
	}

	#exit-popup .subtitle {
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0 15px;
	}

	#exit-popup .subtitle br {
		display: none;
	}

	#exit-popup .btn-more {
		display: block;
		padding: 18px 0;
		font-size: 23px;
		margin: 0 0 15px;
	}

	#exit-popup .obs {
		font-size: 10px;
	}

	body.pacotes .container,
	body.pacotes.desconto .container {
		width: 280px;
	}

	#discount .container {
		padding: 8px 0 0;
	}

	#discount .col-left,
	#discount .col-right {
		width: auto;
	}

	#discount .col-left {
		width: 63%;
	}

	#discount .col-right {
		padding: 0;
	}

	#discount .title {
		font-size: 18px;
	}

	#discount .col-left .title span {
		font-size: 22px;
		margin: 2px 0 0;
	}

	#discount .col-right .title {
		display: none;
	}

	#discount .col-right .counter .displaySection {
		padding: 0 5px;
	}

	#discount .col-right .counter .displaySection + .displaySection:before {
		font-size: 30px;
		line-height: 1.2;
		left: -3.5px;
	}

	#discount .col-right .counter .displaySection .numberDisplay {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 32px;
	}

	#discount .col-right .counter .displaySection .periodDisplay {
		font-size: 6.5px;
	}

	#packs .container {
		padding: 30px 0;
	}

	#packs .row {
		flex-wrap: wrap;
	}

	#packs .row .col {
		flex-basis: 100%;
		flex-grow: auto;
	}

	#packs .row .col.pack1 {
		order: 3;
	}

	#packs .row .item {
		margin: 0 0 20px;
	}

	#stamps .container {
		padding: 15px 0;
	}

	#stamps ul li {
		margin: 15px 10px;
	}

	#payment-safe .container {
		padding: 30px 0;
	}

	#payment-safe .col-left,
	#payment-safe .col-right {
		float: inherit;
		text-align: center;
	}

	#payment-safe .col-left {
		margin: 0 0 20px;
	}

	#payment-safe .item img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}

	#footer .container {
		padding: 30px 0;
	}

	#footer .col-right a.email,
	#footer .col-right a.whatsapp {
		font-size: 16px;
	}

}