@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Archivo+Narrow:700|Oswald:700');
@import url('../../../stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	color: #1d1d1d;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 0 1px rgba(0,0,0,.01);
}

* {
	padding: 0;
	margin: 0;
	outline: none !important;
	resize: none !important;
	box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	display: block;
}

.img-full {
	width: 100%;
	height: auto;
	display: block;
}

.img-center {
	display: block;
	margin: auto;
}

.container {
	width: 1130px;
	position: relative;
	margin: auto;
}

.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.container:after,
.clearfix:after {
	clear: both;
}

/* header */

#header {
	background: #fff;
	position: relative;
	text-align: center;
	z-index: 10;
}

#header .container {
	padding: 30px 0 5px;
}

#header .logo {
	display: inline-block;
}

#header .logo img {
	height: 70px;
	width: auto;
}

#menu {
	background: #fff;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

#menu .container > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	list-style: none;
	margin: 0;
}

#menu .container > ul > li > a {
	display: block;
	position: relative;
	padding: 15px;
	font-size: 13.5px;
	color: #1d1d1d;
	text-transform: uppercase;
}

#menu .container > ul > li.sub > a:after {
	content: '\f107';
	font-family: 'FontAwesome';
	font-weight: bold;
	margin: 0 0 0 8px;
}

#menu .container > ul > li.search > a > i {
	margin-left: 100px;
}

#menu .container > ul > li:not(.search) > a:before {
	content: '';
	background: #ff9bd2;
	width: 0;
	height: 3px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	transition: width .3s;
	-moz-transition: width .3s;
}

#menu .container > ul > li:not(.search) > a:hover:before {
	width: 100%;
	transition: width .3s;
	-moz-transition: width .3s;
}

/* main */

#main .container {
	padding: 40px 0;
}

#main .content {
	width: 750px;
	float: left;
	margin: 0 40px 0 0;
}

.page-title {
	padding: 0;
	font-size: 44px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 1.2;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.page-title b {
	font-weight: 900;
	color: #ed174f;
}

.page-subtitle {
	padding: 0 0 15px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	border-bottom: 1px solid #cecece;
	margin: 0 0 15px;
}

.page-heading {
	display: flex;
	align-items: center;
	font-size: 11px;
	font-weight: 500;
	color: #666;
	margin: 0 0 20px;
}

.page-heading .share {
	text-align: center;
	margin: 0 15px;
}

.page-heading .share a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin: 2px 1px;
	border-radius: 3px;
	transition: filter .3s;
	-moz-transition: filter .3s;
}

.page-heading .share a.fb { background: #3b5998; }

.page-heading .share a.tw { background: #1da1f2; }

.page-heading .share a.gp { background: #dd4b39; }

.page-heading .share a.pt { background: #bd081c; }

.page-heading .share a:hover {
	filter: brightness(120%);
	-moz-filter: brightness(120%);
	transition: filter .3s;
	-moz-transition: filter .3s;
}

.highlight {
	background: #565656;
	position: relative;
	padding: 12px 15px;
	font-family: 'Archivo Narrow';
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	margin: 0 0 20px;
}

.highlight img {
	position: absolute;
	top: -25px;
	right: -40px;
}

.page-content {
	font-size: 15px;
	line-height: 1.8;
}

.page-content p {
	padding: 0;
	margin: 0 0 15px;
}

.page-content p.lead {
	font-size: 17px;
	font-weight: 500;
	line-height: 1.6;
}

.page-content p.big {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 1.2;
	margin: 0 0 25px;
}

.page-content ul,
.page-content ol {
	list-style: none;
}

.page-content ul li,
.page-content ol li {
	position: relative;
	padding: 0 0 0 10px;
	line-height: 1.4;
	margin: 0 0 20px;
}

.page-content ul li:before,
.page-content ol li:before {
	content: '';
	background: #1d1d1d;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 12px;
	left: 0;
	border-radius: 100%;
}

.page-content ul li strong,
.page-content ol li strong {
	font-size: 18px;
}

.page-content .high {
	font-weight: 800;
	color: #ed174f;
	text-transform: uppercase;
}

.page-content .high.lower {
	text-transform: inherit;
}

.page-content .image {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0 0 20px;
}

.page-content .image.video {
	width: 75%;
	position: relative;
	padding-top: 25px;
	padding-bottom: 40%;
	margin: 0 auto 25px;
}

.page-content .image.video iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.page-content .image.left {
	width: auto;
	float: left;
	margin: 0 20px 20px 0;
}

.page-content .image.right {
	width: auto;
	float: right;
	margin: 0 0 20px 20px;
}

.page-content .image .caption {
	background: #d4d4d4;
	display: table-caption;
	caption-side: bottom;
	padding: 15px 18px;
	font-size: 13px;
	font-weight: 500;
}

.page-content .image.video a {
	position: relative;
	display: inline-block;
}

.page-content .image.video a:before {
	content: '';
	background: url(../images/play_1.png);
	width: 81px;
	height: 56px;
	position: absolute;
	top: calc(50% - 28px);
	left: calc(50% - 40px);
}

.page-content .image.video a:after {
	content: '';
	background: url(../images/logo_youtube.png);
	width: 103px;
	height: 42px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

hr.bold {
	background: #d4d4d4;
	height: 3px;
	border: 0;
	margin: 50px 10%;
}

.investigation .label {
	background: #ed174f;
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 800;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
}

.investigation .title {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 1.1;
	margin: 5px 0 15px;
}

.investigation .testimonials {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.investigation .testimonials .col {
	width: 50%;
	padding: 0 20px;
}

.investigation .testimonials .item {
	margin: 0 0 35px;
}

.investigation .testimonials .item .photo {
	position: relative;
}

.investigation .testimonials .item .photo .result {
	background: #f24509;
	width: 140px;
	height: 140px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 10px;
	bottom: -40px;
	border-radius: 100%;
	overflow: hidden;
}

.investigation .testimonials .item .photo .result:before {
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 3px solid #fff;
	border-radius: 100%;
	z-index: 0;
}

.investigation .testimonials .item .photo .result span {
	background: #f24509;
	width: 100%;
	position: relative;
	display: block;
	padding: 5px 0;
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	z-index: 1;
}

.investigation .testimonials .item .caption {
	background: #e8e8e8;
	padding: 35px 30px;
	font-size: 14px;
}

.investigation .testimonials .item .caption .orange {
	color: #f24509;
}

.investigation .testimonial-big {
	display: flex;
	margin: 0 0 35px;
}

.investigation .testimonial-big .images {
	min-width: 350px;
}

.investigation .testimonial-big .images .item {
	position: relative;
}

.investigation .testimonial-big .images .item .before,
.investigation .testimonial-big .images .item .after {
	background: #f00;
	padding: 3px 10px;
	font-family: 'Oswald';
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.investigation .testimonial-big .images .item .after {
	background: #17bf17;
}

.investigation .testimonial-big .images .item .without,
.investigation .testimonial-big .images .item .with {
	background: #f00;
	width: 140px;
	height: 140px;
	display: flex;
	padding: 10px 0 0;
	align-items: center;
	justify-content: center;
	font-family: 'Oswald';
	font-size: 27px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-transform: lowercase;
	position: absolute;
	top: 30px;
	left: 10px;
	border-radius: 100%;
}

.investigation .testimonial-big .images .item .without:before,
.investigation .testimonial-big .images .item .with:before {
	content: '';
	background: url(../images/unlike_1.png);
	width: 69px;
	height: 62px;
	position: absolute;
	top: -20px;
	left: calc(50% - 35px);
}

.investigation .testimonial-big .images .item .with {
	background: #17bf17;
}

.investigation .testimonial-big .images .item .with:before {
	background-image: url(../images/like_1.png);
}

.investigation .testimonial-big .text {
	background: #e8e8e8;
	padding: 40px 35px;
	font-size: 14px;
}

.investigation .important {
	background: #cfcfcf;
	width: 310px;
	float: right;
	padding: 30px 30px 15px;
	text-align: center;
	margin: 0 0 30px 30px;
}

.investigation .important .high {
	font-size: 19px;
	line-height: 1.3;
}

.banner-1 {
	background: #ffefbf;
	position: relative;
	padding: 30px;
	border: 4px solid #f24509;
	margin: 0 0 80px;
}

.banner-1 p {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.6;
	color: #f24509;
	letter-spacing: -0.5px;
	margin: 0 0 20px;
}

.banner-1 p span {
	background: #f24509;
	padding: 2px 4px;
	color: #fff;
}

.banner-1 .from {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 1.1;
	text-align: center;
	margin: 0 0 10px;
}

.banner-1 .from span {
	position: relative;
}

.banner-1 .from span:before {
	content: '';
	background: red;
	width: calc(100% + 4px);
	height: 4px;
	position: absolute;
	top: calc(50% - 2px);
	left: -2px;
	right: -2px;
	transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

.banner-1 .to {
	padding: 0 0 0 75px;
	font-size: 21px;
	text-align: center;
	margin: 0 0 10px;
}

.banner-1 .price {
	padding: 0 0 0 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 20px;
}

.banner-1 .price span {
	width: 25%;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3;
	text-align: center;
}

.banner-1 .price img {
	margin: 0 15px;
}

.banner-1 .price strong {
	font-size: 50px;
	font-weight: 700;
	color: #1e9e13;
	line-height: 1;
	text-transform: uppercase;
}

.banner-1 .more {
	padding: 0 0 0 75px;
	text-align: center;
}

.banner-1 .more a {
	background-image: linear-gradient(to bottom, #2abf14, #138112);
	display: inline-block;
	position: relative;
	padding: 9px 30px;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	overflow: hidden;
}

.banner-1 .more a:before {
	content: '';
	background-image: linear-gradient(to bottom, #138112, #2abf14);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-1 .more a span {
	position: relative;
	z-index: 1;
}

.banner-1 .more a:hover:before {
	opacity: 1;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-1 .product {
	position: absolute;
	left: 30px;
	bottom: -60px;
}

#main .sidebar {
	overflow-x: hidden;
}

.widget {
	margin: 0 0 25px;
}

.widget .block-title {
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: -0.25px;
	line-height: 1.3;
	text-transform: uppercase;
	border: 1px solid #ff9bd2;
	margin: 0 0 15px;
}

.widget .block-title span {
	color: #ed174f;
}

.widget ul.posts {
	list-style: none;
}

.widget ul.posts li {
	margin: 10px 0;
}

.widget ul.posts li .image {
	float: left;
	margin: 0 15px 5px 0;
}

.widget ul.posts li .info {
	font-size: 13px;
	color: #1d1d1d;
	overflow-x: hidden;
}

.widget ul.posts li .info span {
	display: block;
	font-size: 11px;
	color: #666;
	margin: 5px 0 0;
}

.widget .testimonial .text {
	background: #efefef;
	padding: 25px 30px;
	font-size: 12px;
	color: #666;
}

.widget .testimonial .text p {
	line-height: 1.8;
	margin: 0 0 20px;
}

.widget .testimonial .text .author {
	position: relative;
	padding: 0 0 0 40px;
}

.widget .testimonial .text .author:before {
	content: '“';
	position: absolute;
	top: 0;
	left: 0;
	font-size: 55px;
	font-weight: 700;
	line-height: 1;
}

.widget .testimonial .text .author b {
	font-size: 14px;
	font-weight: 600;
}

.widget .media {
	margin: 0 0 40px;
}

.widget ul.results {
	list-style: none;
}

.widget ul.results li {
	margin: 0 0 40px;
}

.widget ul.results li .result {
	background: #f24509;
	width: 140px;
	height: 140px;
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: -35px auto 0;
	border-radius: 100%;
	overflow: hidden;
}

.widget ul.results li .result:before {
	content: '';
	position: absolute;
	top: 6px;
	right: 6px;
	bottom: 6px;
	left: 6px;
	border: 3px solid #fff;
	border-radius: 100%;
	z-index: 0;
}

.widget ul.results li .result span {
	background: #f24509;
	width: 100%;
	position: relative;
	display: block;
	padding: 5px 0;
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	z-index: 1;
}

.banner-4 {
	padding: 30px;
	font-size: 16px;
	color: #666;
	text-align: center;
	border: 3px solid #bbb;
	margin: 0 0 30px;
}

.banner-4.orange {
	background: #ffefbf;
	border-color: #f24509;
}

.banner-4 p {
	font-weight: 700;
	margin: 0 0 15px;
}

.banner-4 p:first-child {
	color: #24a9b9;
}

.banner-4 p:first-child span {
	color: #f00;
}

.banner-4 .product {
	margin: 0 0 10px;
}

.banner-4 .btn-more {
	background-image: linear-gradient(to bottom, #2abf14, #138112);
	display: block;
	position: relative;
	padding: 15px 10px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	overflow: hidden;
}

.banner-4 .btn-more:before {
	content: '';
	background-image: linear-gradient(to bottom, #138112, #2abf14);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-4 .btn-more span {
	position: relative;
	z-index: 1;
}

.banner-4 .btn-more:hover:before {
	opacity: 1;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-4 .stock {
	font-size: 18px;
	font-weight: 800;
	color: #000;
	letter-spacing: -0.5px;
	line-height: 1.3;
	margin: 15px 0 0;
}

.banner-4 .stock span {
	background: #f24509;
	padding: 0 6px;
	color: #fff;
}

.banner-2 {
	margin: 50px 0 40px;
}

.banner-2 .title {
	background: #f24509;
	padding: 20px 10px;
	font-size: 24px;
	font-weight: 300;
	color: #fff;
	line-height: 1.2;
	text-align: center;
}

.banner-2 .title b {
	font-weight: 600;
}

.banner-2 .main {
	display: flex;
	padding: 35px 40px;
	align-items: center;
	justify-content: center;
	border: 5px solid #cfcfcf;
	border-top: 0;
}

.banner-2 .main .product {
	background: #7d7d7d;
	width: 235px;
	height: 235px;
	position: relative;
	border-radius: 100%;
}

.banner-2 .main .product img {
	margin-top: -15px;
}

.banner-2 .main .info {
	text-align: center;
	margin: 0 0 0 50px;
}

.banner-2 .main .info .from {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -1px;
	line-height: 1.1;
	text-align: center;
	margin: 0 0 10px;
}

.banner-2 .main .info .from span {
	position: relative;
}

.banner-2 .main .info .from span:before {
	content: '';
	background: red;
	width: calc(100% + 4px);
	height: 4px;
	position: absolute;
	top: calc(50% - 2px);
	left: -2px;
	right: -2px;
	transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
}

.banner-2 .main .info .to {
	font-size: 21px;
	text-align: center;
	margin: 0 0 10px;
}

.banner-2 .main .info .price {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 20px;
}

.banner-2 .main .info .price span {
	width: 25%;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3;
	text-align: center;
}

.banner-2 .main .info .price img {
	margin: 0 15px;
}

.banner-2 .main .info .price strong {
	font-size: 50px;
	font-weight: 700;
	color: #1e9e13;
	line-height: 1;
	text-transform: uppercase;
}

.banner-2 .main .info .more {
	text-align: center;
}

.banner-2 .main .info .more a {
	background-image: linear-gradient(to bottom, #2abf14, #138112);
	display: inline-block;
	position: relative;
	padding: 9px 30px;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	overflow: hidden;
}

.banner-2 .main .info .more a:before {
	content: '';
	background-image: linear-gradient(to bottom, #138112, #2abf14);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-2 .main .info .more a span {
	position: relative;
	z-index: 1;
}

.banner-2 .main .info .more a:hover:before {
	opacity: 1;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.warning {
	padding: 0 10%;
	font-size: 16px;
	text-align: center;
	margin: 0 0 80px;
}

.warning .title {
	font-size: 30px;
	font-weight: 800;
	color: #f00;
	letter-spacing: -1px;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 5px;
}

.warning .subtitle {
	font-size: 25px;
	font-weight: 800;
	line-height: 1.2;
	margin: 0 0 30px;
}

.warning span {
	background: #f00;
	padding: 2px 8px;
	font-weight: 700;
	color: #fff;
}

#comments {
	background: #ededed;
}

#comments .container {
	padding: 50px 0;
}

#comments .title {
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 40px;
}

#comments ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

#comments ul li {
	display: flex;
	padding: 0 0 35px;
	border-bottom: 1px solid #adadad;
	margin: 0 0 35px;
}

#comments ul li .info {
	padding: 0 0 0 20px;
	font-family: sans-serif;
}

#comments ul li .info .name {
	font-size: 14px;
	font-weight: bold;
}

#comments ul li .info .time {
	font-size: 12px;
	color: #666;
	margin: 0 0 10px;
}

#comments ul li .info p {
	font-size: 13px;
	margin: 0;
}

#comments .more {
	text-align: center;
	margin: 0 0 80px;
}

#comments .more a {
	background-image: linear-gradient(to bottom, #d8d8d8, #aeaeae);
	position: relative;
	display: inline-block;
	padding: 15px 45px;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #545454;
	text-transform: uppercase;
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.2);
	border-radius: 50px;
	overflow: hidden;
}

#comments .more a:before {
	content: '';
	background-image: linear-gradient(to bottom, #aeaeae, #d8d8d8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.1);
	z-index: 0;
	opacity: 0;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

#comments .more a span {
	position: relative;
	z-index: 1;
}

#comments .more a:hover:before {
	opacity: 1;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-3 {
	text-align: center;
	margin: 0 0 50px;
}

.banner-3 .product {
	background: #7d7d7d;
	width: 235px;
	height: 235px;
	position: relative;
	margin: 0 auto 30px;
	border-radius: 100%;
}

.banner-3 .product img {
	transform: translateY(-15px);
	-moz-transform: translateY(-15px);
}

.banner-3 .btn-more {
	background-image: linear-gradient(to bottom, #2abf14, #138112);
	display: inline-block;
	position: relative;
	padding: 10px 70px;
	font-size: 42px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	overflow: hidden;
}

.banner-3 .btn-more:before {
	content: '';
	background-image: linear-gradient(to bottom, #138112, #2abf14);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-3 .btn-more span {
	position: relative;
	z-index: 1;
}

.banner-3 .btn-more:hover:before {
	opacity: 1;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
}

.banner-3 p {
	font-size: 22px;
	margin: 30px 0 0;
}

.banner-3 p u {
	color: #f00;
}

/* footer */

#footer {
	background: #222;
}

#footer .logo {
	margin: 20px 0;
}

#footer .logo img {
	height: 45px;
	width: auto;
}

#footer .copyright {
	background: #0d0d0d;
	padding: 10px 0;
	font-size: 12px;
	color: #fff;
}

/* media queries */

/* desktops */
@media (max-width: 1199px) {

	.container {
		width: 970px;
	}

	#main .content {
		width: 640px;
	}

	.page-heading .author {

	}

	.page-heading .share {
		width: 220px;
		margin: 0;
	}

	.page-heading .share a {
		width: 35px;
		height: 35px;
		line-height: 35px;
	}

/* tablets */
@media (max-width: 991px) {

	.container {
		width: 750px;
	}

	#menu .container > ul > li > a {
		padding: 15px 10px;
		font-size: 11px;
	}

	#menu .container > ul > li.search > a > i {
		margin-left: 35px;
	}

	#main .content {
		width: 470px;
		margin: 0 30px 0 0;
	}

	.page-title {
		font-size: 33px;
	}

	.page-subtitle {
		font-size: 16px;
	}

	.page-heading {
		flex-wrap: wrap;
	}

	.page-heading .author {
		width: 100%;
		margin: 0 0 10px;
	}

	.page-heading .author .date {
		display: inline-block;
	}

	.page-heading .author .date:before {
		content: '-';
		margin: 0 5px;
	}

	.page-heading .share {
		width: auto;
	}

	.page-heading .shares {
		width: 65%;
		padding: 0 0 0 15px;
	}

	.page-content p.big,
	.investigation .title {
		font-size: 25px;
	}

	.investigation .image.left {
		width: 50%;
	}

	.investigation .testimonials {
		margin: 0 -10px;
	}

	.investigation .testimonials .col {
		padding: 0 10px;
	}

	.investigation .testimonials .item .photo .result {
		right: -10px;
		transform: scale(0.7);
		-moz-transform: scale(0.7);
	}

	.investigation .testimonial-big {
		flex-flow: column;
	}

	.investigation .testimonial-big .images {
		min-width: auto;
		display: flex;
	}

	.investigation .testimonial-big .images .item .before,
	.investigation .testimonial-big .images .item .after {
		font-size: 14px;
	}

	.investigation .testimonial-big .images .item .without,
	.investigation .testimonial-big .images .item .with {
		top: -15px;
		left: -15px;
		transform: scale(0.7);
		-moz-transform: scale(0.7);
	}

	.investigation .important {
		width: auto;
		float: inherit;
		margin: 0 0 30px;
	}

	.banner-1 .from {
		font-size: 20px;
	}

	.banner-1 .to {
		font-size: 16px;
	}

	.banner-1 .price span {
		font-size: 15px;
	}

	.banner-1 .price strong {
		font-size: 35px;
	}

	.banner-1 .product {
		left: -35px;
		bottom: -40px;
	}

	.widget .block-title {
		font-size: 13px;
	}

	.widget ul.posts li .image {
		width: 50%;
	}

	.widget ul.results li {
		margin: 0 0 10px;
	}

	.widget ul.results li .result {
		margin: -50px auto 0;
		transform: scale(0.7);
		-moz-transform: scale(0.7);
	}

	.banner-4 {
		padding: 20px;
	}

	.banner-4 .btn-more {
		font-size: 16px;
	}

	.banner-2 .title {
		font-size: 18px;
	}

	.banner-2 .main .info .from {
		font-size: 22px;
	}

	.banner-2 .main .info .to {
		font-size: 16px;
	}

	.banner-2 .main .info .price span {
		font-size: 14px;
	}

	.banner-2 .main .info .price strong {
		font-size: 40px;
	}

	.warning {
		padding: 0;
		margin: 0 0 30px;
	}

}

/* smartphones */
@media (max-width: 767px) {

	.container {
		width: auto;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	#header {
		box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
	}

	#header .container {
		padding: 15px 0 10px;
	}

	#header .container:before,
	#header .container:after {
		content: '\f0c9';
		font-family: 'FontAwesome';
		font-size: 21px;
		line-height: 1;
		position: absolute;
		top: calc(50% - 10.5px);
		left: 15px;
	}

	#header .container:after {
		content: '\f002';
		left: inherit;
		right: 15px;
	}

	#header .logo img {
		height: 35px;
	}

	#menu {
		display: none;
	}

	#main .content {
		width: auto;
		float: inherit;
		margin: 0;
	}

	.page-title {
		font-size: 25px;
	}

	.page-subtitle {
		font-size: 15px;
	}

	.page-heading .shares {
		width: auto;
		padding: 0;
		margin: 10px 0 0;
	}

	.highlight {
		text-align: center;
	}

	.highlight img {
		display: none;
	}

	.page-content {
		font-size: 14px;
		margin: 0 0 30px;
	}

	.page-content p.lead {
		font-size: 16px;
	}

	.page-content p.big {
		font-size: 20px;
	}

	.page-content ul li strong,
	.page-content ol li strong {
		font-size: 16px;
	}

	hr.bold {
		height: 2px;
		margin: 35px 0;
	}

	.investigation .label {
		font-size: 12px;
	}

	.investigation .title {
		font-size: 20px;
	}

	.investigation .image.left {
		width: 100%;
		float: inherit;
		margin: 0 0 30px;
	}

	.investigation .testimonials {
		flex-flow: column;
		margin: 0;
	}

	.investigation .testimonials .col {
		width: 100%;
		padding: 0;
	}

	.investigation .testimonial-big .images {
		flex-flow: column;
	}

	.banner-1 {
		padding: 20px 20px 0;
		text-align: center;
		margin: 0 0 40px;
	}

	.banner-1 .to {
		padding: 0;
		font-size: 14px;
		line-height: 1.3;
	}

	.banner-1 .price,
	.banner-1 .more {
		padding: 0;
	}

	.banner-1 .price span {
		width: 30%;
	}

	.banner-1 .more a {
		padding: 9px 15px;
		font-size: 20px;
	}

	.banner-1 .product {
		position: inherit;
		left: inherit;
		bottom: inherit;
		margin: 10px 0 0;
	}

	#main .sidebar {
		overflow-x: inherit;
	}

	.widget ul.posts li .image {
		width: auto;
	}

	.banner-2 {
		margin: 10px 0 40px;
	}

	.banner-2 .title {
		padding: 15px;
		font-size: 16px;
	}

	.banner-2 .main {
		padding: 25px 20px;
		flex-flow: column;
	}

	.banner-2 .main .product {
		margin: 0 auto 15px;
	}

	.banner-2 .main .info {
		margin: 0;
	}

	.banner-2 .main .info .price span {
		width: 30%;
		font-size: 13px;
	}

	.banner-2 .main .info .price strong {
		font-size: 30px;
	}

	.warning .title {
		font-size: 25px;
	}

	.warning .subtitle {
		font-size: 20px;
	}

	#comments ul li .photo img {
		width: 60px;
		height: auto;
	}

	.banner-3 {
		margin: 0;
	}

	.banner-3 .btn-more {
		display: block;
		padding: 10px 15px;
		font-size: 24px;
	}

	.banner-3 p {
		font-size: 16px;
	}

	.banner-3 p br {
		display: none;
	}

	#footer .logo {
		margin: 15px 0;
	}

	#footer .logo img {
		height: 30px;
		margin: auto;
	}

	#footer .copyright {
		font-size: 10px;
		text-align: center;
	}

}