<div class="thrv_wrapper thrv-page-section" style="z-index: 8;" data-css="tve-u-160a25790c2">
<div class="tve-page-section-out" data-css="tve-u-160a257807e" data-clip-id="1dab116cd9fc6"><svg width="0" height="0" class="tve-decoration-svg"><defs></defs></svg></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-1604fcb514b" style="z-index: 8;"><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" data-css="tve-u-1604a9e2bcb" style="z-index: 8;">
<div class="tve-content-box-background"></div>
<div class="tve-cb tve_empty_dropzone" style="z-index: 8;"><div class="thrv_wrapper tve_image_caption" data-css="tve-u-1604a9e088e" style=""><span class="tve_image_frame" style="width: 100%;"><img class="tve_image wp-image-21418" alt="" title="hexa-logo" data-id="21418" src="{tcb_lp_base_url}/css/images/hexa-logo.png" style="width: 100%;" width="100" height="42"></span></div></div>
</div><div class="tcb-clear" data-css="tve-u-1604ecae819"><div class="thrv_wrapper thrv-divider" data-style="tve_sep-1" data-thickness="1" data-color="rgba(255, 255, 255, 0.1)" data-css="tve-u-160a1619713" style="">
<hr class="tve_sep tve_sep-1">
</div></div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" data-css="tve-u-160a263c5c3"><h1 class="" data-css="tve-u-164adc0e557" style="text-align: center;">Thank you for Signing Up!</h1></div><div class="thrv_wrapper thrv_text_element"><p data-css="tve-u-164adc1b61b">Click the button below to the download the free product:</p></div><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box tcb-mobile-hidden" style="" data-value-type="percent" data-css="tve-u-161568e7dfe">
<div class="tve-content-box-background" data-css="tve-u-1604ef24512" data-clip-id="7c5d115670918"><svg width="0" height="0" class="tve-decoration-svg"><defs><clipPath id="clip-top-7c5d115670918" class="decoration-clip clip-path-top" clipPathUnits="objectBoundingBox" data-screen="" decoration-type="slanted" slanted-angle="53" style="" data-inverted="true"><polygon points="0 0, 0 1, 1 1, 1 1.3270"></polygon></clipPath></defs></svg></div>
<div class="tve-cb" data-css="tve-u-1604ef21034"></div>
</div></div>
</div><div class="thrv_wrapper thrv-page-section" data-css="tve-u-1609ca16463" style="/* width: 1603px; *//* left: -20px; */">
<div class="tve-page-section-out" data-css="tve-u-1609ca171be" data-clip-id="605ff1687da54"><svg width="0" height="0" class="tve-decoration-svg"><defs><clipPath id="clip-top-605ff1687da54" class="decoration-clip clip-path-top" clipPathUnits="objectBoundingBox" data-screen="" decoration-type="pointer" pointer-width="100" pointer-height="70" data-inverted="true"><polygon points="1 0, 0.5 0.7, 0 0, 0 0, 0 1, 1 1, 1 0"></polygon></clipPath><clipPath id="clip-mobile-top-605ff1687da54" class="decoration-clip clip-path-mobile-top" clipPathUnits="objectBoundingBox" data-screen="mobile-" decoration-type="pointer" pointer-width="100" pointer-height="28.000000000000004" data-inverted="true"><polygon points="1 0, 0.5 0.28, 0 0, 0 0, 0 1, 1 1, 1 0"></polygon></clipPath><clipPath id="clip-tablet-top-605ff1687da54" class="decoration-clip clip-path-tablet-top" clipPathUnits="objectBoundingBox" data-screen="tablet-" decoration-type="pointer" pointer-width="100" pointer-height="51" data-inverted="true"><polygon points="1 0, 0.5 0.51, 0 0, 0 0, 0 1, 1 1, 1 0"></polygon></clipPath><clipPath id="clip-tablet-mobile-top-605ff1687da54" class="decoration-clip clip-path-tablet-mobile-top" clipPathUnits="objectBoundingBox" data-screen="tablet-" decoration-type="pointer" pointer-width="100" pointer-height="76" data-inverted="true"><polygon points="1 0, 0.5 0.76, 0 0, 0 0, 0 1, 1 1, 1 0"></polygon></clipPath></defs></svg></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-1609ca142c7" style=""><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" data-css="tve-u-1609d571a8f">
<div class="tve-content-box-background" data-css="tve-u-1609d43a484"></div>
<div class="tve-cb tve_empty_dropzone" data-css="tve-u-1609d584df7"><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" style="" data-css="tve-u-16166019889">
<div class="tve-content-box-background" data-css="tve-u-16166033156"></div>
<div class="tve-cb tve_empty_dropzone" data-css="tve-u-1616601c9f4"><div class="tcb-clear" data-css="tve-u-1604f0a1a45"><div class="thrv_wrapper tve_image_caption" data-css="tve-u-1604f0a0371" style=""><span class="tve_image_frame"><img class="tve_image wp-image-7534" alt="" title="dots" data-id="7534" src="{tcb_lp_base_url}/css/images/dots.png" width="45" height="14"></span></div></div></div>
</div><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" data-css="tve-u-1616b84e750">
<div class="tve-content-box-background" data-css="tve-u-1616b853a5d"></div>
<div class="tve-cb tve_empty_dropzone" data-css="tve-u-1616b84ed20"><div class="thrv_wrapper tve_image_caption" data-css="tve-u-1616b893d80"><span class="tve_image_frame" style="width: 100%;"><img class="tve_image wp-image-10132" alt="" width="364" height="261" title="download_icon" data-id="10132" src="{tcb_lp_base_url}/css/images/download_icon.png" style="width: 100%;"></span></div></div>
</div><div class="thrv_wrapper thrv-button tcb-with-icon" data-css="tve-u-1616b8c3d65" data-button-style="" data-tcb_hover_state_parent=""><a href="#" class="tcb-button-link"><span class="tcb-button-icon">
<div class="thrv_wrapper thrv_icon tve_no_drag tve_no_icons tcb-icon-inherit-style tcb-icon-display"><svg class="tcb-icon" viewBox="0 0 24 28" data-name="arrow-circle-right">
<path d="M20.078 14c0-0.266-0.094-0.516-0.281-0.703l-7.078-7.078c-0.187-0.187-0.438-0.281-0.703-0.281s-0.516 0.094-0.703 0.281l-1.422 1.422c-0.187 0.187-0.281 0.438-0.281 0.703s0.094 0.516 0.281 0.703l2.953 2.953h-7.844c-0.547 0-1 0.453-1 1v2c0 0.547 0.453 1 1 1h7.844l-2.953 2.953c-0.187 0.187-0.297 0.438-0.297 0.703s0.109 0.516 0.297 0.703l1.422 1.422c0.187 0.187 0.438 0.281 0.703 0.281s0.516-0.094 0.703-0.281l7.078-7.078c0.187-0.187 0.281-0.438 0.281-0.703zM24 14c0 6.625-5.375 12-12 12s-12-5.375-12-12 5.375-12 12-12 12 5.375 12 12z"></path>
</svg></div>
</span>
<span class="tcb-button-texts"><span class="tcb-button-text thrv-inline-text" data-css="tve-u-1616b8d1b85">Start Your Download</span></span>
</a></div></div>
</div></div>
</div><div class="thrv_wrapper thrv-page-section" style="/* width: 1603px; *//* left: -20px; */" data-css="tve-u-1616b97375f">
<div class="tve-page-section-out"></div>
<div class="tve-page-section-in tve_empty_dropzone" data-css="tve-u-1616b95e10c"><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" data-css="tve-u-1616b8ffcd6"><p data-css="tve-u-1616b8f3af7" style="text-align: center;">If you enjoy this free report, please help us spread the word about it:</p></div><div class="thrv_wrapper thrv_contentbox_shortcode thrv-content-box" data-css="tve-u-1616b9093a7">
<div class="tve-content-box-background"></div>
<div class="tve-cb tve_empty_dropzone"><div class="tcb-clear" data-css="tve-u-1616ba35c3e"><div class="thrv_wrapper thrv_icon tcb-icon-display" data-css="tve-u-1616b937470" data-tcb_hover_state_parent=""><svg class="tcb-icon" viewBox="0 0 16 28" data-name="facebook">
<path d="M14.984 0.187v4.125h-2.453c-1.922 0-2.281 0.922-2.281 2.25v2.953h4.578l-0.609 4.625h-3.969v11.859h-4.781v-11.859h-3.984v-4.625h3.984v-3.406c0-3.953 2.422-6.109 5.953-6.109 1.687 0 3.141 0.125 3.563 0.187z"></path>
</svg></div></div><div class="thrv_wrapper thrv_icon tcb-icon-display" data-css="tve-u-1616b912993" data-tcb_hover_state_parent=""><svg class="tcb-icon" viewBox="0 0 26 28" data-name="twitter">
<path d="M25.312 6.375c-0.688 1-1.547 1.891-2.531 2.609 0.016 0.219 0.016 0.438 0.016 0.656 0 6.672-5.078 14.359-14.359 14.359-2.859 0-5.516-0.828-7.75-2.266 0.406 0.047 0.797 0.063 1.219 0.063 2.359 0 4.531-0.797 6.266-2.156-2.219-0.047-4.078-1.5-4.719-3.5 0.313 0.047 0.625 0.078 0.953 0.078 0.453 0 0.906-0.063 1.328-0.172-2.312-0.469-4.047-2.5-4.047-4.953v-0.063c0.672 0.375 1.453 0.609 2.281 0.641-1.359-0.906-2.25-2.453-2.25-4.203 0-0.938 0.25-1.797 0.688-2.547 2.484 3.062 6.219 5.063 10.406 5.281-0.078-0.375-0.125-0.766-0.125-1.156 0-2.781 2.25-5.047 5.047-5.047 1.453 0 2.766 0.609 3.687 1.594 1.141-0.219 2.234-0.641 3.203-1.219-0.375 1.172-1.172 2.156-2.219 2.781 1.016-0.109 2-0.391 2.906-0.781z"></path>
</svg></div></div>
</div></div>
</div><div class="thrv_wrapper thrv_text_element tve_empty_dropzone" data-css="tve-u-1609ededb45"><p data-css="tve-u-1609eddd8af" style="text-align: center;">© 2018 Build with Thrive Architect.</p></div>