@import url("//fonts.googleapis.com/css?family=Ek+Mukta:400,700,300,200&subset=latin");
@media (min-width: 300px) {[data-css="tve-u-15df4df4e2e"] strong {font-weight: 700;}
	#tve_editor [data-css="tve-u-15df4df4e2e"] {font-family: "Ek Mukta";font-weight: 400;}
	#tve_editor [data-css="tve-u-15df201fb59"] {font-family: "Ek Mukta";font-weight: 400;}
	#tve_editor [data-css="tve-u-15df201acb6"] {font-family: "Ek Mukta";}
	#tve_editor [data-css="tve-u-15df1f50f9d"]:hover .tcb-button-link {background-image: linear-gradient(#549497 0%,#74b4b7 100%) !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;}
	#tve_editor [data-css="tve-u-15df1f50f9d"] .tcb-button-link {font-size: 19px;line-height: 26px;}
	[data-css="tve-u-15df1f50f9d"] .tcb-button-link {text-transform: uppercase;text-shadow: #005454 1px 0px 0px;border-radius: 38px;overflow: hidden;border: 1px solid #448d90;box-shadow: #fff 0px 1px 0px 0px inset;padding-top: 15px !important;padding-bottom: 15px !important;background-color: #74b4b7 !important;background-image: linear-gradient(#74b4b7 0%,#549497 100%) !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;font-weight: normal !important;}
	[data-css="tve-u-15df1f50f9d"] {display: block;max-width: 315px;margin-bottom: 20px !important;margin-top: 20px !important;}
	[data-css="tve-u-15df1eae87c"] {font-size: 62px;width: 62px;height: 62px;border-radius: 81px;overflow: hidden;border: 6px solid #fff;box-shadow: #333 0px 0px 0px 1px;background-image: linear-gradient(#e9e9e9 0%,#fff 100%) !important;padding: 20px !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: no-repeat !important;margin-top: 30px !important;margin-bottom: 30px !important;}
	[data-css="tve-u-15df1610b5c"] {line-height: 20px !important;}
	[data-css="tve-u-15df1609c61"] {padding-left: 20px !important;padding-right: 20px !important;margin-left: auto !important;margin-right: auto !important;margin-bottom: 20px !important;}
	[data-css="tve-u-15df15f31cd"] {margin-top: 0px !important;margin-bottom: 0px !important;}
	[data-css="tve-u-15df15d7b79"] {max-width: 916px;margin-left: auto !important;margin-right: auto !important;padding-top: 0px !important;padding-bottom: 0px !important;}
	[data-css="tve-u-15df15ddb0b"] {max-width: 76.4%;}
	[data-css="tve-u-15df15ddafa"] {max-width: 23.6%;}
	[data-css="tve-u-15df15c74d6"] {margin-bottom: 10px !important;}
	[data-css="tve-u-15df15c5c47"] {margin-bottom: 20px !important;}
	[data-css="tve-u-15df15c0179"] {float: none;width: 164px;margin-top: 0px !important;margin-bottom: 10px !important;margin-right: 20px !important;}
	[data-css="tve-u-15df15596cf"] {width: 117px;border: 5px solid #fff;border-radius: 86px;overflow: hidden;box-shadow: rgba(0,0,0,.05) 2px 0px 12px 2px;margin: 0px auto !important;}
	[data-css="tve-u-15df1527292"] {max-width: 916px;margin-left: auto !important;margin-right: auto !important;}
	[data-css="tve-u-15df1527292"] .tve_sep {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' x=\'0px\' y=\'0px\' viewBox=\'0 0 9 3\' style=\'enable-background:new 0 0 9 3;\' xml:space=\'preserve\'%3E%3Crect x=\'1\' y=\'0.4\' fill=\'rgb(217, 217, 217)\' width=\'7\' height=\'2.3\'/%3E%3C/svg%3E");height: 16px;background-size: 16px 16px;}
	[data-css="tve-u-15df130aef7"] {max-width: 820px;margin-left: auto !important;margin-right: auto !important;margin-bottom: 70px !important;}
	[data-css="tve-u-15df12e248d"] {max-width: 600px;margin: 33px auto 10px !important;}
	[data-css="tve-u-15df12ac35e"] {box-shadow: rgba(0,0,0,.11) 3px 3px 12px 0px;background-color: #fff !important;}
	[data-css="tve-u-15df1296330"] {max-width: 1080px;margin: 0px auto !important;padding: 15px 40px !important;}
	[data-css="tve-u-15df127b5ae"] + div {clear: none;}
	[data-css="tve-u-15df127b5ae"] {width: 120px;margin: 20px auto !important;padding-left: 20px !important;padding-right: 20px !important;}
	[data-css="tve-u-15df125dc15"] {background-image: url("/tbl/wp-content/uploads/wp-static-html-output-1552965747/wp-content/uploads/tcb_lp_templates/templates/css/{tcb_lp_base_url}foundation_pattern.jpg") !important;background-size: auto !important;background-position: 0px 0px !important;background-attachment: scroll !important;background-repeat: repeat !important;}
	#tcb_landing_page h3 {font-family: "Ek Mukta";font-weight: 400;font-size: 20px;line-height: 30px;}
	#tcb_landing_page p, #tcb_landing_page li {font-family: "Ek Mukta";font-weight: 200;font-size: 20px;line-height: 30px;}
	#tcb_landing_page h2 {font-family: "Ek Mukta";font-weight: 200;font-size: 22px;line-height: 33px;color: #333;}
	#tcb_landing_page h1 {font-family: "Ek Mukta";font-weight: 200;font-size: 56px;line-height: 56px;}
	[data-css="tve-u-15df200e073"] {margin-bottom: 0px !important;}}
@media (max-width: 1023px) {[data-css="tve-u-15df1296330"] {margin-left: 20px !important;margin-right: 20px !important;}}
@media (max-width: 767px) {[data-css="tve-u-15df1c0d52f"] {margin-top: 18px !important;}
	[data-css="tve-u-15df12e248d"] {margin-top: 1px !important;}
	[data-css="tve-u-15df1c04f57"] {line-height: 1.35em !important;}
	#tve_editor [data-css="tve-u-15df1c04f57"] {font-size: 18px !important;}
	[data-css="tve-u-15df1bff4b2"] {line-height: 1.2em !important;}
	#tve_editor [data-css="tve-u-15df1bff4b2"] {font-size: 37px !important;}}