<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments for webelitex</title>
	<atom:link href="http://professorodilon.org/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://professorodilon.org</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Tue, 28 May 2019 18:34:24 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.0.4</generator>
</channel>
</rss>
