.header-natal .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
    color: white;
    height: 150px;
}

/*
Bloc
*/

.natal-bloc1, .natal-bloc2, .natal-bloc3 {
    height: 150px;
    float: left;
}

.natal-bloc1 {
    width: 26%;
    opacity: 0.8;
    text-align: center;
}

.natal-bloc1-bg {
  background: #610e0e;
  width: 100%;
  height: 100%;
}

.natal-bloc1 img {
    width: 150px;
    margin-top: 30px;
}

.natal-bloc2 {
    width: 32%;
    text-align: center;
    margin: 0 auto;
}

.natal-bloc2 img {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.natal-bloc3 {
    width: 42%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

/*
Stock
*/

.header-natal .stock {
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top, #cc0000 0%, #700b0b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cc0000 0%,#700b0b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cc0000 0%,#700b0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#700b0b',GradientType=0 ); /* IE6-9 */
    width: 300px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0 3px 0 0 rgba(0,0,0,.1);
    border-radius: 4px;
    margin-top: 20px;
    margin: 0 auto;
}

.header-natal .stock .title {
	font-family: 'Lato';
	font-size: 18px;
	color: #000;
	line-height: 1.2;
	text-shadow: 0 2px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: left;
    float: left;
    font-weight: 900;
}

.header-natal .stock .title b {
	font-family: 'Lato';
	font-size: 20px;
  font-weight: 900;
	color: #fff;
}

.header-natal .stock .count {
	background: #fff;
	width: 65px;
	height: 65px;
	line-height: 65px;
	font-family: 'Lato';
	font-size: 40px;
	color: #700b0b;
  text-align: center;
  float:right;
  font-weight: 900;
	box-shadow: 0 3px 0 0 rgba(0,0,0,.2);
	border-radius: 4px;
}

/*
Snow
*/

.header-natal {
    width: 100%;
}

.header-natal p, .header-natal blockquote {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
  }

  /* Start */

  .header-natal::before,.header-natal::after {
      display: none;
  }

  .header-natal .md > blockquote:last-of-type,
  .header-natal .md > blockquote:last-of-type p,
  .header-natal .md > blockquote:last-of-type a {
    position: absolute;
    top: 0;
    bottom: 0;
    background-size: cover;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .header-natal .md > blockquote:last-of-type {
    background: black;
    top: 0;
    height: 150px;
    z-index: -1;
    width: 100%;
  }
  .header-natal .md > blockquote:last-of-type p {
    overflow: hidden;
    margin: 0;
  }
  .header-natal .md > blockquote:last-of-type [href='#snow'] {
    display: block;
    height: 2000px;
    background-image: url(snow-sparse-flipped.png);
    animation: s 10s linear infinite;
    background-size: auto;
  }
  .header-natal .md > blockquote:last-of-type p{
    animation: sw 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
      transform: translateX(-50px);
  }
  .header-natal .md > blockquote:last-of-type p:nth-of-type(1) a {
    background-image: url(snow-dense.png);
      animation-duration: 11s;
  }

  .header-natal .md > blockquote:last-of-type p:nth-of-type(4) a {
    animation-duration: 5s;
    transform: translateZ(70px);
    animation-name: sC;
  }

  .header-natal .md > blockquote:last-of-type p:nth-of-type(1) {
    animation-duration: 10s;
  }

  @keyframes sw {
    to {
      transform: translateX(50px);
    }
  }

  @keyframes sC {
    0% {
      transform: translateY(-1000px) translateZ(70px);
    }
  }

  @keyframes s {
    0% {
      transform: translateY(-1000px);
    }
  }

/*
Media
*/

@media (max-width: 992px){
    .header-natal .container {
        max-width: 970px;
        height: 400px;
    }

    .header-natal .md > blockquote:last-of-type {
      height: 400px;
    }

    .natal-bloc1, .natal-bloc2, .natal-bloc3  {
      width: 100%;
      float: none;
    }

    .natal-bloc1-bg {
      width: 80%;
      margin: 0 auto;
    }

    .natal-bloc2 {
      height: 100px;
    }

    .natal-bloc2 img {
      width: 300px;
    }
}

@media (max-width: 768px) {
    .header-natal .container {
        max-width: 750px;
    }
}